<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeApi Tests</title>
    <link rel="icon" type="image/icon type" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBStPr_dwGrFXhFfe13-Hp7CAnUpphDYQdvw&s">
</head>
<body>
    <div class="container">
        <div class="inputs">
            <input type="text" id="pokeName">
            <button type="button" id="look">Look for Poké</button>
        </div>
        <div class="poke">
            <h1 id="answer"></h1>
            
        </div>
    </div>
    <script src="/scripts/principal"></script>
</body>
</html>