<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeApi Tests</title>
    <link rel="icon" type="image/icon type" href="http://localhost:8082/image/icon">
    <link rel="stylesheet" href="/styles/principal">
</head>
<body>
    <div class="container" id="mainContainer">
        <div class="centerball">
            <div class="whiteBall">
                <div class="ball">
                    <div class="whiteSpace">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="/scripts/principal"></script>
</body>
</html>